.container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: 24px;
}

.links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logout {
  padding: 4px 8px;
  bottom: none;
  background-color: #53c28b;
  color: white;
  cursor: pointer;
  border-radius: 6px;
  border: 2px solid #53c28b;
}
